.user-id__image {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
}

.user-id__name {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

.user-id__heading {
  margin: 40px 0 20px;
}