
.booksid__container {
    display: flex;
    flex-direction: column;
}

.booksid__item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.booksid__item__title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-decoration: underline;
}

.booksid__nav-1 {
    margin-top: 5rem;
}

.booksid__nav-2 {
    margin-top: 3rem;
}

.review__saveorquit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.review__about {
  width: 450px;
  height: 150px;
}

.review__rating {
  margin: 20px 0;
}

.review__rating__numbers {
  width: 100px;
}
