.logged-in {
  display: flex;
  justify-content: space-between;
  height: 4em;
  width: 150px;
  margin: 15px;
}

.logged-in a {
  display: inline-block;
  width: 4em;
  height: 4em;
}

.logged-in__image {
  height: 4em;
  width: 4em;
  border-radius: 2em;
}

.logged-in__section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logged-in__name {
  font-weight: bold;
  text-decoration: underline;
}

.logged-in__button {
  display: inline;
  padding: 5px;
}
