.search {
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 600px) {
    .search {
        display: none;
    }    
}

.search__input {
    padding: 5px;
}

.search__button {
    margin: 10px;
}